#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#Eclipse
.classpath
.project
.settings/

#IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

#Logs
logs/

#Gradle
build/
.gradle/

# Arquivos de propriedades sensíveis
src/main/resources/application.properties
src/main/resources/application.yml

# Arquivos de dados do banco de dados H2
data/

# Arquivos de log do H2
*.trace.db

# Arquivos de cache do H2
*.db-shm
*.db-lock
*.db.mv.db

# Arquivos de cache do Spring Boot DevTools
.restart/

# Arquivos de cache do Lombok
target/generated-sources/

# Outros arquivos temporários ou específicos do ambiente
*.log
*.swp
